<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome!</title>
</head>
<body>
    <h1>Welcome to my page!</h1>
    <p>
        This is the demo application for the course
        <em>Getting Started with Flask</em>
        on <a href="https://www.pluralsight.com" >Pluralsight</a>
    </p>
    <img src="/static/flasklogo.png" >
    <ul>
        {% for card in cards %} <!-- loop through an array of data -->
            <li>
                <a href="{{url_for('card_view', index=loop.index0)}}"><!-- loop.index returns the current loop number of the for loop -->
                    {{card.question}}
                </a>
            </li>
        {% endfor %}<!-- for loops need to be ended -->
    <ul>
</body>
</html>